@keyframes moveBackground {
  0% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0;
  }
}

@keyframes shotAnimation {
  0% {
    transform: translate3d(-50%, -100%, 0);
  }
  100% {
    transform: translate3d(-50%, -105vh, 0);
  }
}

@keyframes chargeSpecialShotAnimation {
  0% {
    filter: drop-shadow(0 0 4px var(--color-primary-400)) brightness(1);
  }

  50% {
    filter: drop-shadow(0 0 4px var(--color-primary-400)) brightness(1.2);
  }

  100% {
    filter: drop-shadow(0 0 4px var(--color-primary-400)) brightness(1);
  }
}
