@import url(animations.css);

:root {
  font-size: 62.5%;

  --color-light-100: #f9f9f9;
  --color-light-200: #e0e0e0;
  --color-light-300: #d1d1d1;
  --color-light-400: #c2c2c2;
  --color-light-500: #b3b3b3;
  --color-light-600: #a4a4a4;
  --color-light-600a: #a4a4a488;
  --color-light-700: #8c8c8c;
  --color-light-700a: #8c8c8c88;
  --color-light-800: #757575;
  --color-light-800a: #75757588;
  --color-dark-400: #000000;
  --color-dark-400a: #00000088;
  --color-primary-400: #056cf2;
  --color-primary-400a: #056cf288;
  --color-primary-500: #2793f2;
  --color-primary-500a: #2793f288;
  --color-secondary-400: #e8d141;
  --color-secondary-400a: #e8d14188;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Press Start 2P", system-ui;
  font-size: 1.6rem;
  color: var(--color-light-200);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: url(../images/space1.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  animation: moveBackground 180s linear infinite;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button,
input {
  border: none;
  background: none;
  color: var(--color-light-200);

  &:hover {
    cursor: pointer;
  }
}

.srOnly {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  border-width: 0;
  overflow: hidden;
  color: transparent;
  clip: rect(0, 0, 0, 0);
}
